* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  border-radius: 15px;
  background: rgb(17, 17, 17);
  max-width: 500px;
  overflow: hidden;
}
#display {
  outline: none;
  border: none;
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  color: black;
  font-size: 3rem;
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  font-size: 3rem;
  color: #fff;
  background: rgba(38, 38, 38, 0.847);
  border: none;
  user-select: none;
  font-weight: bold;
}
button:hover {
  background: rgb(77, 77, 77);
}
button:active {
  background: rgb(123, 123, 123);
}
.operator-btn {
  background: #ff8800;
}
.operator-btn:hover {
  background: #ffba6b;
}
.operator-btn:active {
  background: #ffd19d;
}
.result {
  background: rgb(160, 0, 0);
}
.result:hover {
  background: rgb(160, 73, 73);
}
.result:active {
  background: rgb(160, 100, 100);
}
